{% extends 'base.html.twig' %}

{% block title %}{{ ('password_reset.confirm_title'|trans) }}{% endblock %}

{% block body %}
    <h1>{{ ('password_reset.confirm_title'|trans) }}</h1>

    <p>
        {{ ('password_reset.confirm_text'|trans|raw) }} {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
        <br /><br />
        {{ ('password_reset.try_again'|trans) }}
    </p>
{% endblock %}
